:root {
  --header-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}

body {
  font-family: "Open Sans", Tahoma, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* ---------------------HEADER--------------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header-btn {
  color: var(--main-btn-color);
}

.header-btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

/* ---------------------HERO--------------------- */

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: #ff6c00;
}

.hero-content {
  background-color: #303030;
  padding: 272px 0 206px 96px;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.hero-title {
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin);
}

.hero-bottom-text {
  color: #9da4bd;
  max-width: 400px;
}

/* ---------------------ABOUT--------------------- */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}
.about-top-text {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.about-bottom-text {
  color: #555555;
  margin-bottom: var(--typical-margin);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

/* ---------------------PRICES--------------------- */

.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 40px;
}

.prices-item {
  margin-bottom: var(--typical-margin);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #ffffff;
}

/* ---------------------REASONS--------------------- */

.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
}

.reasons-item {
  width: 170px;
  height: 130px;
  border: 1px solid #000000;
}
.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
  display: block;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.reasons-top-text {
  color: #303030;
  margin-bottom: var(--typical-margin);
}
.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.reasons-bottom-text {
  color: #555555;
}

/* ---------------------MASTERS--------------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-img {
  margin-bottom: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* ---------------------GALLERY--------------------- */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-top-text {
  color: #303030;
  margin: 44px;
}
