.about {
  padding-top: 139px;
  padding-bottom: 121px;
  .container {
    display: flex;
  }
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
  &__item + &__item {
    margin-left: 30px;
  }
}

.about-content__top-text {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.about-content__title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.about-content__bottom-text {
  color: #555555;
  margin-bottom: var(--typical-margin);
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  color: var(--second-btn-color);
}
