.hero .container {
  display: flex;
}

.soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

.soc__list {
  display: flex;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-19px);
  align-items: center;
}

.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.soc__item + .soc__item {
  margin-left: 40px;
}
.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}

.soc__link:hover,
.soc__link:focus {
  color: #ff6c00;
}

.hero-content {
  background-color: #303030;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.5),
      rgba(25, 28, 38, 0.5)
    ),
    url(../images/hero-bg.jpeg);
}

.hero-content__top-text {
  margin-bottom: var(--typical-margin);
}

.hero-content__title {
  font-family: "Raleway", Tahoma, sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: baseline;
}

.hero-content__title::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  background-image: url(../images/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-right: 40px;
}

.hero-content__title::after {
  content: "";
}

.hero-content__bottom-text {
  color: #9da4bd;
  max-width: 400px;
}
