.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.masters-item {
  /* flex-basis: calc((100% - 3 * 30px) / 3); */
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.masters-item:hover .masters-cover-text {
  transform: translateY(0%);
}

.masters-top-wrap {
  position: relative;
  overflow: hidden;
}

.masters-cover-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 106, 0, 0.585);
  color: #ffffff;
  font-weight: 600;
  line-height: 1.8;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

/* .masters-item:not(:last-child) {
  margin-right: 30px;
} */

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: 30px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}

.masters-soc-link {
  width: 44px;
  height: 44px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

/* .masters-soc-icon {
  fill: currentColor;
} */

.masters-soc-link:hover {
  background-color: teal;
  fill: tomato;
}

/* .masters-soc-link:hover {
  background-color: teal;
}

.masters-soc-link:hover .masters-soc-icon {
  fill: tomato;
} */
