.prices {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  padding: 30px 40px;
  flex-grow: 1;
}

.prices-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin);
  align-items: baseline;
}

.prices-item-text:last-child {
  order: 1;
}

.prices-item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #ffffff;
  margin: 0 auto;
  display: block;
}
