.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
}

.reasons-item {
  width: 170px;
  height: 130px;
  border: 1px solid #000000;
}
.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
  display: block;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.reasons-top-text {
  color: #303030;
  margin-bottom: var(--typical-margin);
}
.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.reasons-bottom-text {
  color: #555555;
}
