.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include mobile {
    max-width: 448px;
  }
  @include media(768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
